force-app/main/default/flows/GET_Airline_Info_By_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Airline_By_ID</name>
        <label>Get Airline By ID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GetAirlineById.Get Airline</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Create_Airline_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AirlineByID</name>
            <value>
                <elementReference>Enter_the_Airline_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>GET Airline Info By ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GET Airline Info By ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Airline_Record</name>
        <label>Create Airline Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Established__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.established</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_Quarters__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.headx5fquaters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logo_URL__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.logo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slogan__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.slogan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>Get_Airline_By_ID.2XX.website</elementReference>
            </value>
        </inputAssignments>
        <object>Airline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>User_Input</name>
        <label>User Input</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Close</backButtonLabel>
        <connector>
            <targetReference>Get_Airline_By_ID</targetReference>
        </connector>
        <fields>
            <name>Enter_the_Airline_ID</name>
            <dataType>Number</dataType>
            <fieldText>Enter the Airline ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Send Callout</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
