force-app/main/default/flows/POST_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>POST_Object</name>
        <label>POST Object</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>PostObject.Post Object</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>responseBody</assignToReference>
            <name>2XX</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>statusCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>defaultException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_request_body</name>
        <label>Assign request body</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>requestBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.data.CPUx20model</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPU_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.data.Hardx20diskx20size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hard_Disk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.data.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_the_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.data.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POST_Object</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Response_Decision</name>
        <label>Response Decision</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT 200</defaultConnectorLabel>
        <rules>
            <name>Success_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Output</targetReference>
            </connector>
            <label>Success 200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>POST Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POST Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Enter_Object_Info</name>
        <label>Enter Object Info</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Close</backButtonLabel>
        <connector>
            <targetReference>Assign_request_body</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Year</name>
            <dataType>Number</dataType>
            <fieldText>Enter Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Enter_the_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Enter the Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>CPU_Model</name>
            <dataType>String</dataType>
            <fieldText>CPU Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hard_Disk</name>
            <dataType>String</dataType>
            <fieldText>Hard Disk</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Post Object</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailedMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 17, 17);&quot;&gt;Below are the failure response!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 2, 2);&quot;&gt;Error Message:&lt;/strong&gt;&lt;span style=&quot;color: rgb(31, 2, 2);&quot;&gt; {!defaultException}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status Code: &lt;/strong&gt;{!statusCode}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Output</name>
        <label>Success_Output</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutPutdetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 218, 74);&quot;&gt;Below are the responses from post callout!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!responseBody.name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Id: &lt;/strong&gt;{!responseBody.id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;CreatedDate: &lt;/strong&gt;{!responseBody.createdAt}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Data:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Year: &lt;/strong&gt;{!responseBody.data.year}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Price: &lt;/strong&gt;{!responseBody.data.price}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;CPU Model : &lt;/strong&gt;{!responseBody.data.CPUx20model}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Hard Disk: &lt;/strong&gt;{!responseBody.data.Hardx20diskx20size}&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Object_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>defaultException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__PostObject_Postx20Object_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseBody</name>
        <apexClass>ExternalService__PostObject_Postx20Object_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
